server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://db:5432/casualapp
    username: casualapp
    password: casualapp_password
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

    